* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}


a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007BFF;
}

/* Existing CSS */

.search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    border-radius: 4px;
}

.search-container button:hover {
    background-color: #ddd;
}

